<section>
    <h1>contact section</h1>
    <div class="icon">
        <i _ngcontent-bkd-c6="" class="fa-solid fa-star"></i>
    </div>
    <div class="container">
        <form>
            <input type="text" name="" id="" placeholder="User Name">
            <input type="text" name="" id="" placeholder="User Age">
            <input type="email" name="" id="" placeholder="User Email">
            <input type="password" name="" id="" placeholder="User password">
            <button>Send Message</button>
        </form>
    </div>
</section>
